@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}
.fundo-vila{
    background-image: url(./Imagens/konoha.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100vw;
    height: 100vh;
}

.content{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "title title title"
    "buttons image description"
    "buttons image description"
    "buttons image description"
    "buttons image description"
    ;
}

.title{
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img{
    width: 200px;
    height: 75px;
}

.buttons{
    grid-area: buttons;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.botao{
    width: 250px;
    height: 75px;
    font-size: 28px;
    border-radius: 25px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border-color: white;
}

.naruto:hover{
    background-color: rgb(255, 88, 28);
}

.sasuke:hover{
    background-color: rgb(1, 1, 163);
}

.sakura:hover{
    background-color: rgb(252, 154, 170);
}

.kakashi:hover{
    background-color: rgb(95, 145, 95);
}

.gradient{
    background: rgb(18,108,179);
    background: linear-gradient(90deg, rgba(18,108,179,1) 0%, rgba(0,0,0,0.4962359943977591) 0%);
}